@import "../../utils";
.signIn {
  background: url("https://res.cloudinary.com/maivw/image/upload/v1614628492/home-bg_xflumm.jpg");
  @include signUp-SingIn ();
  @include displayFlex(flex, column);
  &__form {
    margin: 5rem auto;
  }
}
@media (min-width: 280px) and(max-width:480px) {
 .signIn {
  &__button, &__googleButton  {
    margin-bottom: 0.75rem;
    height: 3.5rem;
    font-size: 1.2rem;
  }
  &__logo {
    height: 4rem;
    width: 12rem;
    position: absolute;
    bottom: 92%;
    z-index: 2;
    padding: 1rem 2rem;
  }
  &__Innerform {
    width: 27rem;
    margin-top: -2rem;
  }
  &__input {
    height: 3.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    margin-bottom: 0.75rem;
  }

  &__more {
    font-size: 1.1rem;
  }
  &__toSignUp, &__link {
    font-size: 1.2rem;
    margin: 1.5rem 0.5rem;
  
  }
  &__title {
    font-size: 2.6rem;
    margin-top: -15rem;
  }
 }
}
