@import "../../utils";
.profile__wrapper {
  position: relative;
}
.profile {
  width: 60%;
  margin: 3rem auto;
  height: fit-content;
  padding: 5rem 0;
  background-color: black;
  box-shadow: 0 0 10px 0 rgb(172, 171, 171);
  border-radius: 0.5rem;
  opacity: 0.8!important;
  &__button {
    @include button();
    padding: 1.5rem;
    margin-top: 5rem;
  }
  &__content {
    @include displayFlex(flex, row);
    &-left {
      flex:0.3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-right {
      flex:0.6;
    }
  }
  &__name {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    margin: 0rem 0;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
  }
  &__plans {
    width: 100%;
    border-bottom: 0.1px solid gray;
  }
 
  &__title {
    font-size: 2.6rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
    
  }
}
.profile__accountImage {
  height: 10rem;
  width: 10rem;
}
