@import "../../utils";
.feature {
  position: absolute;
  top:10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
	flex-direction: column;
	border-bottom: 0.5rem solid #222;
	text-align: center;
	padding: 10rem 4rem;
  z-index: 2;
  &__subTitle {
    color: white;
    font-size: 2.6rem;
    font-weight: normal;
    margin: 1.6rem auto;
  }
  &__title {
    color: white;
    max-width: 64rem;
    font-size: 5rem;
    font-weight: 500;
    margin: 0 auto;
    &-small {
      font-size: 2.6rem;
      padding: 1rem;
      margin-left: 2rem;
    }
  }

  &__wrap {
    padding: 1rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    outline: none;
    position: relative;
    & img {
      filter: brightness(0) invert(1);
      height: 2rem;
      width: 2rem;
      position: absolute;
      z-index: 100;
      top:50%;
      left: 95%;
      transform: translate(-100%, -50%);
      
    }
  }
  &__input {
    max-width: 40rem;
    width: 100%;
    border: 0;
    padding: 0 2rem;
    height: 5rem;
    box-sizing: border-box;
    outline: none;
    font-size: 1.8rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &__button {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    background: #e50914;
    color: white;
    text-transform: uppercase;
    padding: 0 2rem;
    font-size: 2rem;
    border: 0;
    width: 20rem;
    cursor: pointer;
    
  }
  &__content {
    font-size: 1.8rem;
  }
}
.feature__secondary {
 
  position: absolute;
  top: 5%;
  left: 0%;
  z-index: 2;
  height: 40%;
  width: 1000%;
  padding :2rem 0;
  &-body {
    position: absolute;
    top: 30%;
  }
  &-image {
    background-position: center center;
    object-fit: cover;
    max-width: 100vw;
    margin-top: -3rem;
  }
}
.feature{
  &__description {
  margin-left: 2rem;
  height: auto;
  width: 60rem;
  padding: 2rem;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
  word-break:word-break,

  }
  &__faded {
    height: 8rem;
    background-image: linear-gradient(
      180deg, transparent, rgba(37,37, 37, 0.61), #111
    );
  }
  &__buttons {
    @include groupButtons ();
  }
  &__button-small {
    @include buttonSmall ();
  }
}
