@import "../../utils";
.account {
  @include positionAbsolute(absolute, 50%, 50%, translate(-50%, -50%));
  
  height: fit-content;
  &__question {
    font-size: 2rem;
    text-align: center;
    border-bottom: 0.1px solid grey;
    padding: 1.5rem 0;
  }
  &__name {
    text-align: center;
    padding: 1.5rem 0;
  }
  
}
button {
  @include button();
  padding: 1.5rem 0;
  margin-top: 3rem;
}

@media (min-width: 280px) and(max-width:480px) {
  .account {
    & img {
      width: 15rem;
    }
    &__question {
      font-size: 1.3rem;
      padding: 1.5rem 0;
    }
    &__name {
      padding: 1rem 0;
      font-size: 1.3rem;
    } 
  }
  button {
    padding: 1.2rem 0;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}
