@import "../../utils";
.header__logo {
  height: 6rem;
  width: 15rem;
  padding: 1rem 3rem 0rem 3rem;
}

.header {
  position: relative;
  &__button {
    display: block;
    background: $bg-color-red;
    width: 9rem;
    margin-right: 4rem;
    height: fit-content;
    color: white;
    border: 0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
      &:hover {
      background: $bg-color-red-hover;
    }
  }

  &__bgImage {
  width: 100%;
  }

  &__link {
    text-decoration: none;
  }
  &__searchText, &__myListText {
    font-size: 2rem;
    padding: 3rem 1rem 0 1rem;
    margin-left: 2rem;
    cursor: pointer;
    
  }
  &__top {
    @include displayFlex(flex, row);
    width: 100%;
    justify-content: space-between;
    @include positionAbsolute(absolute, 0 , 0, translate(0));
  }
  &__top-left  {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  &__accountImage {
    height: 5rem;
    width: 5rem;
    padding: 2rem 3rem 0rem 3rem;
  }

}
