@import "../../utils";
.banner{
  background: url("https://res.cloudinary.com/maivw/image/upload/v1614628492/home-bg_xflumm.jpg");
  @include displayFlex(flex, column);
	text-align: center;
	padding: 30rem 0;
  margin-top: -10rem;
  z-index: 2;
  &__button { 
    @include btnTryItNow();
  }
  &__content {
    font-size: 1.8rem;
  }
  &__input {
    @include bigInput();
   }
  &__subTitle {
    color: white;
    font-size: 2.6rem;
    font-weight: normal;
    margin: 1.6rem auto;
  }
  &__title {
    @include bigTitle();
    margin: 0 auto;
    max-width: 64rem;
  }

  &__wrap {
    @include wrap ();
    & img {
      @include arrowImg();
      @include positionAbsolute(absolute, 50%, 70%,translate(-100%, -50%));
    }
  }
}
@media (min-width: 280px) and(max-width:480px) {
  .banner{
    padding: 10rem 0;
    margin-top: -5rem;
    &__button { 
      font-size: 1.3rem;
      max-width: 12rem;
    }
    &__input {
      font-size: 1.3rem;
      max-width: 20rem;
    }
    &__subTitle {
      font-size: 1.5rem;
      margin: 1rem auto;
    }
    &__content {
      font-size: 1.2rem;
    }
    &__title {
      font-size: 2.6rem;
      width: 70%;
    }
    &__wrap {
      border: 2px solid red;
      height: 3.5rem;
      & img {
        height: 1rem;
        width: 1rem;
        @include positionAbsolute(absolute, 50%, 97%,translate(-50%, -50%));
      }
    }
  }
}
