@import "../../utils";
.banner{
  background: url("https://res.cloudinary.com/maivw/image/upload/v1614628492/home-bg_xflumm.jpg");
  @include displayFlex(flex, column);
	text-align: center;
	padding: 30rem 0;
  margin-top: -10rem;
  z-index: 2;
  &__subTitle {
    color: white;
    font-size: 2.6rem;
    font-weight: normal;
    margin: 1.6rem auto;
  }
  &__title {
    @include bigTitle();
    margin: 0 auto;
    max-width: 64rem;
    &-small {
      font-size: 2.6rem;
      padding: 1rem;
      margin-left: 2rem;
    }
  }

  &__wrap {
    @include wrap ();
    & img {
      @include arrowImg();
      @include positionAbsolute(absolute, 50%, 70%,translate(-100%, -50%));
    }
  }
 
  &__button { 
    @include btnTryItNow();
  }
  &__content {
    font-size: 1.8rem;
  }
  &__input {
    @include bigInput();
   }
}
